SUPPORT VECTOR MACHINE

In [1]:
import pandas as pd
from sklearn.model_selection import KFold, cross_val_score
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from scipy.io import arff

In [51]:
# Load the datasets
# df1 = pd.read_csv(r"datasets\wine+quality\winequality-red.csv", sep=";")

data, meta = arff.loadarff(r'D:\ML\datasets\DryBeanDataset\Dry_Bean_Dataset.arff')
df2 = pd.DataFrame(data)
df2['Class'] = df2['Class'].astype(str)
le = LabelEncoder()
df2['Class'] = le.fit_transform(df2['Class'])

df3 = pd.read_csv(r"datasets\Raisin_Dataset\Raisin_Dataset.csv")

In [52]:

# Define datasets
datasets_name = ['DRYBEAN', 'RAISIN']
datasets = {
    'datasets': [df2, df3],
    'X': [df2.drop(columns='Class'), df3.drop(columns='Class')],
    'y': [df2['Class'], df3['Class']]
}

In [74]:
C = [0.1, 10.0, 20.0]
gamma= [0.0001, 0.1, 1.0]
kernel= ['linear', 'rbf','sigmoid']
kernel= ['linear', 'linear','linear']

Apply 5 fold cross-fold cross validation by varying parameters

In [75]:
best_parm_all = {}
kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [76]:
best_parm_list=[]
for i, name in enumerate(datasets['datasets']):
    X = datasets['X'][i]
    y = datasets['y'][i]

    best_score = 0
    best_parm = {}



    for j in range(3):
        svm = SVC(C=C[j], gamma=gamma[j], kernel=kernel[j], random_state=42)
        cv_res = cross_val_score(svm, X, y, cv=kf, scoring='accuracy', n_jobs=-1)
        mean_score = cv_res.mean()
        # print()
        parm = {
                'C': C[j],
                'gamma': gamma[j],
                'kernel': kernel[j],
                'score' : mean_score
            }
        if mean_score > best_score:
            best_score = mean_score
            best_parm = {
                'C': C[j],
                'gamma': gamma[j],
                'kernel': kernel[j]
            }
            best_svm = svm
        best_parm_list.append(parm)
    best_parm_all[datasets_name[i]] = best_parm

In [77]:
# Convert the results into a DataFrame
res = pd.DataFrame(best_parm_all)
res.head()

       DRYBEAN  RAISIN
C         20.0    20.0
gamma      1.0     1.0
kernel  linear  linear

In [78]:
pd.DataFrame(best_parm_list[0:3]),
pd.DataFrame(best_parm_list[3:6])

      C   gamma  kernel     score
0   0.1  0.0001  linear  0.853333
1  10.0  0.1000  linear  0.851111
2  20.0  1.0000  linear  0.856667